[push]
	default = matching
[core]
	editor = vim
[diff]
	tool = vimdiff
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ch = log --pretty=format:\"[%h] %ae, %ar: %s\" --stat
